

<!DOCTYPE html>
<html>

    <head>
        <title>AUTOTRADERA</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" 
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
            crossorigin="anonymous">

    </head>

    <body id="content">

        <script type="text/javascript">

			function calculate_ending_time(end_time) {
				let endDate = new Date(end_time)
                let nowDate= new Date()
                let delta = Math.abs(endDate - nowDate) / 1000;
                let days = Math.floor(delta / 86400);
                delta -= days * 86400;
                let hours = Math.floor(delta / 3600) % 24;
                delta -= hours * 3600;
                let minutes = Math.floor(delta / 60) % 60;
                delta -= minutes * 60;
                let seconds = delta % 60;
				return [days,hours,minutes,seconds]
			}
            
            function itemHide(id) {
                const options = {
                    method: 'POST',
                    id : id ,
                };
                var url = "/hide_id/"
                url += id
                fetch( url , options )
                    .then( response => response.json() )
                    .then( response => {
                        //console.log(id)
                    } );
            };

            function itemShow(id) {
                const options = {
                    method: 'POST',
                    id:id
                };
                var url = "/show_id/"
                url += id
                fetch( url , options )
                    .then( response => response.json() )
                    .then( response => {
                        //console.log(id)
                    } );
            }

            function itemObserved(id) {
                const options = {
                    method: 'POST',
                    id : id 
                };
                var url = "/observed_id/"
                url += id
                fetch( url , options )
                    .then( response => response.json() )
                    .then( response => {
                        //console.log(id)
                    } );
            }

			function itemData(id) {
                return fetch('/fetch_id/' + id)
                    .then((response) => { 
                        return response.json().then((data) => {
                            console.log(data);
                            return data;
                        }).catch((err) => {
                            console.log(err);
                        }) 
                    });
            }+9
            
            fetch("/return_search_data")
                .then(res => res.json())
                    .then(data => {
                            obj = data;
                            })
                    .then(() => {
                            console.log(obj.objectList);
                            let row_number = 0;

                            for (let i = 0; i < obj.objectList.length; i++) {
                                if ( i % 5 == 0 ) {
                                    const row = document.createElement('div');
                                    row.className = 'card-group';
                                    row.id = 'card-holder' + i
                                    row_number = 'card-holder' + i;
                                    document.getElementById('content').appendChild(row);
                                }
								
                                const card = document.createElement('div');
                                card.id = obj.objectList[i].itemId;



                                ends_in = calculate_ending_time(obj.objectList[i].endDate)
								
								//Footer ending time text
                                let auction_ends
                                if (ends_in[0] > 0 ) {
                                    auction_ends = "Ends in " + ends_in[0] 
										+ " days, " + ends_in[1] + " hours and " 
											+ ends_in[2] + " minutes."
                                } else {
                                    auction_ends = "Ends in " + ends_in[1] 
										+ " hours, " + ends_in[2] + " minutes and " 
											+ Math.round(ends_in[3]) + " seconds."
                                }


								//Cardclass and color
                                if ( obj.objectList[i].ObservedItem == '0') {
                                    card.className = 'card text-white bg-success mb-3';
				} else if ( ends_in[3] < 0 ) {
				    card.className = 'card text-white bg-danger mb-3';
                                } else if (ends_in[0] <= 1 && (ends_in[3]>0 || ends_in[2]>0 || ends_in[0]>0 )   ) {
                                    card.className = 'card text-white bg-warning mb-3';
                                } else if (ends_in[3]<0 && ends_in[2]<=0 && ends_in[0]<=0) {
                                    card.className = 'card text-white bg-dark mb-3';
                                } else {
                                    card.className = 'card text-white bg-secondary mb-3';
                                }










                                const item_image = document.createElement("img");
                                item_image.className = 'card-img-top';
                                item_image.src = obj.objectList[i].imageUrl;
								
								
                                const card_body= document.createElement('div');
                                card_body.className = 'card-body';
								

                                const card_title = document.createElement("h5")
                                card_title.className = "card-title";
                                card_title.innerText = obj.objectList[i].price;
                                

                                const card_text= document.createElement("p")
                                card_text.className = "card-text";
                                card_text.innerText = obj.objectList[i].shortDescription;
                                

                                const card_footer = document.createElement('div');
                                const footer_small= document.createElement('small')
                                card_footer.className = 'card-footer';
                                footer_small.className = 'text-white';
                                footer_small.innerText = auction_ends


                                card_body.appendChild(card_title);
                                card_body.appendChild(card_text);
                                card_footer.appendChild(footer_small)
                                card.appendChild(item_image);
                                card.appendChild(card_body);
                                card.appendChild(card_footer);

                                card.addEventListener('contextmenu', function(){
                                    itemHide(obj.objectList[i].itemId);
                                });
                                
                                card.addEventListener('click', function(){
									itemData(obj.objectList[i].itemId).then((data) => {
                                        jsonData = data;
                                        console.log(jsonData.object)
                                        document.getElementById('itemModalLabel').innerText = jsonData.object.shortDescription
                                        document.getElementById('itemModalImage').src = jsonData.object.imageUrl
                                        document.getElementById('itemModalPrice').innerHTML = jsonData.object.price + " kr"
                                        document.getElementById('itemModalItemId').innerText = jsonData.object.itemId
                                        document.getElementById('itemModalHideItem').addEventListener('click',function() {
                                        console.log(jsonData.object.showItem)
                                        if ( jsonData.object.showItem== "1" ) {
                                            itemHide(obj.objectList[i].itemId);
                                            card.className = 'card text-white bg-dark mb-3';
                                        } else {
                                            itemShow(obj.objectList[i].itemId);

                                            let ends_in = calculate_ending_time(obj.objectList[i].endDate)

                                            if ( obj.objectList[i].ObservedItem == '0') {
                                                card.className = 'card text-white bg-success mb-3';
                                            } else if ( (ends_in[0] <= 2 )&& (ends_in[3]>0 || ends_in[2]>0 || ends_in[0]>0 )   ) {
                                                card.className = 'card text-white bg-warning mb-3';
                                            } else if (ends_in[3]<0 && ends_in[2]<=0 && ends_in[0]<=0) {
                                                card.className = 'card text-white bg-dark mb-3';
                                            } else {
                                                card.className = 'card text-white bg-secondary mb-3';
                                            }
                                        }
                                        $('#itemModal').modal('toggle')
                                        });
                                        document.getElementById('itemModalTraderaButton').addEventListener('click', function() {
                                            url = "https://www.tradera.com/item/"+ jsonData.object.itemId;
                                            $('#itemModal').modal('toggle');
                                            window.open(url, '_blank');
                                            window.focus();
                                            
                                        });
                                    })
                                     
                                    $('#itemModal').modal('toggle')
                                    

                                    document.getElementById('itemModalTotalBids').innerText = obj.objectList[i].totalBids + " st"


									let ending_values = calculate_ending_time(obj.objectList[i].endDate)

                                    let ends_in
                                    if (ending_values[0] > 0 ) {
                                        ends_in = "Ends in " + ending_values[0] 
											+ " days, " + ending_values[1] + " hours."
                                    } else {
                                        ends_in = "Ends in "+ ending_values[1] 
											+ " hours, " + ending_values[2] + " minutes and " 
												+ Math.round(ending_values[3]) +" seconds."
                                    }
									
                                    document.getElementById('itemModalEndDate').innerText = ends_in
                                });

                                card.addEventListener('mouseleave', function(){
                                    var item = document.getElementById(obj.objectList[i].itemId);
                                    itemObserved(obj.objectList[i].itemId)
                                    item.style.background = "#FFFFFF";
                                });

                                document.getElementById(row_number).appendChild(card);


                            };
                        });



        </script>



        <div class="modal fade" id="itemModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="itemModalLabel">Item Title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <img id="itemModalImage" class = 'card-img-top';>
                        <label for="itemModalPrice">Price</h4>
                        <h4 class="modal-title" id="itemModalPrice">Price</h4>
                        <label for="itemModalPrice">Item id</h4>
                        <h4 class="modal-title" id="itemModalItemId">Item id</h4>
                        <label for="itemModalPrice">Total bids</h4>
                        <h4 class="modal-title" id="itemModalTotalBids">Total bids</h4>
        

                        <button type="button" id="itemModalHideItem" class="btn btn-dark btn-lg" >Hide</button>
                        <button type="button" id="itemModalTraderaButton" class="btn btn-warning btn-lg">View on Tradera</button>


                <form>

                    <div class="form-group">

                        
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">Ammount</span>
                            </div>
                            <input type="text" class="form-control" aria-label="Ammount" aria-describedby="inputGroup-sizing-default">
                            <button type="button" class="btn btn-primary btn-lg">Bid</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <h5 class="modal-title" id="itemModalEndDate">End date</h5>
            </div>
            </div>
        </div>
        </div>        


          <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
          <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
          <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> 
          
  
  
        </body>
</html>
